/* RESPONSIVE DESIGN FOR SMARTPHONES */
/* RESPONSIVE DESIGN FOR SMARTPHONES */
/* RESPONSIVE DESIGN FOR SMARTPHONES */
/* RESPONSIVE DESIGN FOR SMARTPHONES */
/* RESPONSIVE DESIGN FOR SMARTPHONES */

/* LOGO and NAVIGATION PART */
/* LOGO and NAVIGATION PART */
/* LOGO and NAVIGATION PART */

/* The LOGO goes here */

/* Navigation */
* {
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 10px;
}

body {
  font-family: Roboto, sans-serif;
}

img.logo {
  border: 0px solid #ddd;
  border-radius: 4px;

  padding: 20px;

  width: 100px;
  height: auto;
}

/* The NAVIGATION PART GOES HERE */

.topnav {
  font-size: 30px;

  width: 300px;

  margin-top: -90px;
  margin-left: 950px;
}

a.active {
  text-decoration: none;
  color: #95f9e3;
}

a.btn {
  text-decoration: none;
  color: black;
}

.btn:hover {
  color: aquamarine;
}

.btn:click::after {
  color: #b87fdb;
}

/* Project Name goes here */
/* Project Name goes here */
/* Project Name goes here */
/* Project Name goes here */
/* Project Name goes here */

.introduction {
  font-size: 25px;
  width: 900px;

  margin-top: 50px;
}

/* Sticky Floating Menu */
/* Sticky Floating Menu */
/* Sticky Floating Menu */
/* Sticky Floating Menu */
/* Sticky Floating Menu */

.floating-menu {
  font-family: sans-serif;
  background: #feca6e;
  padding: 5px;
  border-radius: 15px;
  width: fit-content;
  z-index: 100;
  position: fixed;
  margin-top: 10px;
  margin-left: -30px;
  opacity: 0.15;
}

.floating-menu:hover {
  box-shadow: 0 5px 5px 5px rgba(240, 215, 170, 0.8);
  opacity: 1;
  transition-duration: 1s ease-in-and-out;
}

.floating-menu a,
.floating-menu h3 {
  font-size: 0.9em;
  display: block;
  margin: 0 0.5em;
  color: black;
  padding-inline: 5px;
  padding-block: 3px;
}

.linksize {
  width: fit-content;
}

.linksize:hover {
  color: #ff4040;
}

/* OVERVIEW BEGINS HERE */
/* OVERVIEW BEGINS HERE */
/* OVERVIEW BEGINS HERE */
/* OVERVIEW BEGINS HERE */
/* OVERVIEW BEGINS HERE */

.overview {
  font-size: 90px;
  text-align: center;
  width: 1000px;

  background-color: black;
  background-image: linear-gradient(
    -45deg,
    rgba(0, 133, 255, 1),
    rgba(51, 255, 0, 1)
  );
  background-size: 100%;
  background-repeat: none;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

  margin-top: 70px;
  margin-left: 100px;
}

/* This is where we talk about the original version of TeleVU Products */
/* This is where we talk about the original version of TeleVU Products */
/* This is where we talk about the original version of TeleVU Products */
/* This is where we talk about the original version of TeleVU Products */
/* This is where we talk about the original version of TeleVU Products */

.original {
  font-weight: 600;
  font-size: 35px;

  width: 900px;

  margin-top: 50px;
  margin-left: 65px;
}

/* Original GlassVU */
/* Original GlassVU */
/* Original GlassVU */

.original-glassvu-card {
  /* Add shadows to create the "card" effect */
  background-color: #f5f1ee;
  height: 580px;

  position: absolute;

  box-shadow: 0 4px 8px 0 rgba(190, 190, 190, 1);
  transition: 0.3s;
  border-radius: 15px;

  margin-top: 80px;
  margin-left: 40px;
}

/* On mouse-over, add a deeper shadow */
.original-glassvu-card:hover {
  box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 15px;

  width: auto;
  height: auto;
}

/* Add some padding inside the card container */
.glassvu1 {
  font-size: 30px;
  font-weight: 300;

  position: absolute;
  width: 900px;

  margin-left: 450px;
  margin-bottom: 30px;
}

.original-glassvu {
  width: 1100px;
  height: auto;

  margin: 10px;
}

/* Original ReportVU */
/* Original ReportVU */
/* Original ReportVU */

.original-reportvu-card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(190, 190, 190, 1);
  transition: 0.3s;
  border-radius: 15px;

  position: absolute;

  height: auto;
  background-color: #f5f1ee;

  margin-top: 770px;
  margin-left: 40px;
}

/* On mouse-over, add a deeper shadow */
.original-reportvu-card:hover {
  box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 15px;

  width: auto;
  height: auto;
}

/* Add some padding inside the card container */
.reportvu1 {
  font-size: 30px;
  font-weight: 300;

  position: absolute;
  width: 900px;

  margin-top: 700px;
  margin-left: 450px;
  margin-bottom: 30px;
}

.original-reportvu {
  width: 1090px;
  height: auto;

  margin: 10px;
}

/* Original Video-Conference */
/* Original Video-Conference */
/* Original Video-Conference */

.original-vid-con-card {
  /* Add shadows to create the "card" effect */
  background-color: #f5f1ee;
  box-shadow: 0 4px 8px 0 rgba(190, 190, 190, 1);
  height: auto;

  position: absolute;

  transition: 0.3s;
  border-radius: 15px;

  margin-top: 1440px;
  margin-left: 40px;
  margin-right: 30px;
}

/* On mouse-over, add a deeper shadow */
.original-vid-con-card:hover {
  box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 15px;

  width: auto;
  height: auto;
}

/* Add some padding inside the card container */
.vid-con1 {
  font-size: 30px;
  font-weight: 300;

  position: absolute;
  width: 900px;

  margin-top: 1380px;
  margin-left: 370px;
  margin-bottom: 30px;
}

.original-vid-con {
  width: 1090px;
  height: auto;

  margin-left: 10px;
  margin-bottom: 5px;
}

/* OVERVIEW -- Original Version Finished */
/* OVERVIEW -- Original Version Finished */
/* OVERVIEW -- Original Version Finished */
/* OVERVIEW -- Original Version Finished */
/* OVERVIEW -- Original Version Finished */

/* OVERVIEW - New Version INTRO */
/* OVERVIEW - New Version INTRO */
/* OVERVIEW - New Version INTRO */
/* OVERVIEW - New Version INTRO */
/* OVERVIEW - New Version INTRO */

.change {
  text-align: right;

  margin-top: 2150px;
  margin-right: 80px;
}

.newfont {
  font-weight: 600;
  font-size: 35px;

  width: 900px;
  margin-left: 270px;
}

/* Redesigned GlassVU */
/* Redesigned GlassVU */
/* Redesigned GlassVU */

.redesigned-glassvu {
  width: 300px;
  height: auto;
}

.redesigned-glassvu-card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(190, 190, 190, 1);
  transition: 0.3s;
  border-radius: 15px;

  background-color: #f5f1ee;
  height: auto;

  position: absolute;

  margin-top: 80px;
  margin-left: 40px;
}

/* On mouse-over, add a deeper shadow */
.redesigned-glassvu-card:hover {
  box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 15px;

  width: auto;
  height: auto;
}

/* Add some padding inside the card container */
.redesigned-glassvu1 {
  font-size: 30px;
  font-weight: 300;

  position: absolute;
  width: 900px;

  margin-left: 430px;
  margin-bottom: 30px;
}

.redesign-glassvu {
  width: 1090px;
  height: auto;

  margin-left: 10px;
  margin-bottom: 8px;
}

/* Redesigned ReportVU */
/* Redesigned ReportVU */
/* Redesigned ReportVU */

.redesigned-reportvu {
  width: 300px;
  height: auto;
}

.redesigned-reportvu-card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(190, 190, 190, 1);
  transition: 0.3s;
  border-radius: 15px;

  background-color: #f5f1ee;
  height: auto;

  position: absolute;

  margin-top: 870px;
  margin-left: 40px;
}

/* On mouse-over, add a deeper shadow */
.redesigned-reportvu-card:hover {
  box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 15px;

  width: auto;
  height: auto;
}

/* Add some padding inside the card container */
.redesigned-reportvu1 {
  font-size: 30px;
  font-weight: 300;

  position: absolute;
  width: 900px;

  margin-top: 800px;
  margin-left: 450px;
  margin-bottom: 30px;
}

.redesign-reportvu {
  width: 1090px;
  height: auto;

  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

/* Redesigned Video Conference Page */
/* Redesigned Video Conference Page */
/* Redesigned Video Conference Page */

.redesigned-vid-conference {
  width: 300px;
  height: auto;
}

.redesigned-vid-conference-card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(190, 190, 190, 1);
  transition: 0.3s;
  border-radius: 15px;

  position: absolute;

  background-color: #f5f1ee;
  height: auto;

  margin-top: 1670px;
  margin-left: 40px;
  margin-right: 20px;
}

/* On mouse-over, add a deeper shadow */
.redesigned-vid-conference-card:hover {
  box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 15px;

  width: auto;
  height: auto;
}

/* Add some padding inside the card container */
.redesigned-vid-conference1 {
  font-size: 30px;
  font-weight: 300;

  position: absolute;
  width: 900px;

  margin-top: 1600px;
  margin-left: 350px;
  margin-bottom: 30px;
}

.redesign-vid-conference {
  width: 1090px;

  margin-left: 10px;
  margin-bottom: 10px;
}

/* OVERVIEW FINISHD AT THIS POINT */
/* OVERVIEW FINISHD AT THIS POINT */
/* OVERVIEW FINISHD AT THIS POINT */
/* OVERVIEW FINISHD AT THIS POINT */
/* OVERVIEW FINISHD AT THIS POINT */
/* OVERVIEW FINISHD AT THIS POINT */

/* PROJECT BRIEFING INFORMATION */
/* PROJECT BRIEFING INFORMATION */
/* PROJECT BRIEFING INFORMATION */
/* PROJECT BRIEFING INFORMATION */
/* PROJECT BRIEFING INFORMATION */

.abouttheproject {
  font-size: 90px;
  text-align: center;
  width: 1000px;

  background-color: black;
  background-image: linear-gradient(
    -45deg,
    rgba(0, 133, 255, 1),
    rgba(51, 255, 0, 1)
  );
  background-size: 100%;
  background-repeat: none;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

  margin-top: 2600px;
  margin-left: 110px;
}

.projectbrief {
  font-size: 35px;
  width: 920px;

  margin-top: 50px;
  margin-left: 170px;
}

.about {
  float: left;

  width: 900px;
  padding: 10px;

  margin-top: 50px;
  margin-left: 160px;
}

tr {
  text-align: left;
}

th {
  font-size: 30px;
}

.designtable {
  font-size: 30px;
  text-align: center;

  background-color: #9addfb;
  border-radius: 5px;

  width: fit-content;

  padding: 5px;
}

.about2 {
  float: right;

  width: 900px;
  padding: 10px;

  margin-top: 20px;
  margin-right: -725px;
}

/* INTRODUCTION OF CLIENT'S COMPANY */
/* INTRODUCTION OF CLIENT'S COMPANY */
/* INTRODUCTION OF CLIENT'S COMPANY */
/* INTRODUCTION OF CLIENT'S COMPANY */
/* INTRODUCTION OF CLIENT'S COMPANY */

.televu {
  font-size: 90px;
  text-align: center;
  width: 1500px;

  background-color: black;
  background-image: linear-gradient(
    -45deg,
    rgba(0, 133, 255, 1),
    rgba(51, 255, 0, 1)
  );
  background-size: 100%;
  background-repeat: none;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

  margin-top: 460px;
  margin-left: -150px;
  margin-bottom: 50px;
}

.televuintro {
  font-size: x-large;

  width: 850px;

  margin-left: 90px;
}

.televu_intro {
  font-size: 35px;
  width: 920px;

  margin-top: 50px;
  margin-left: 170px;
}

.login {
  width: 1100px;
  height: auto;

  position: absolute;

  margin-top: 10px;
  margin-left: 50px;
  margin-bottom: 10px;
}

.loginspan {
  font-size: 35px;
  width: 900px;

  position: absolute;

  margin-top: 530px;
  margin-left: 450px;
}

.televudevices {
  width: 1100px;
  height: auto;

  position: absolute;

  margin-top: 630px;
  margin-left: 50px;
  margin-bottom: 10px;
}

.televudevicesspan {
  font-size: 35px;
  width: 900px;

  position: absolute;

  margin-top: 1180px;
  margin-left: 430px;
}

.televuconference {
  width: 1100px;
  height: auto;

  position: absolute;

  margin-top: 1280px;
  margin-left: 50px;
  margin-bottom: 10px;
}

.televuintrospan {
  font-size: 35px;
  width: 900px;

  position: absolute;

  margin-top: 1910px;
  margin-left: 270px;
}

.televu_intro2 {
  font-size: 35px;
  width: 980px;

  margin-top: 2100px;
  margin-left: 160px;
}

.televuintroimg {
  width: 1100px;
  height: auto;

  position: absolute;

  margin-top: 20px;
  margin-left: 50px;
  margin-bottom: 10px;
}

.televusmartglass {
  font-size: 35px;
  width: 980px;

  position: absolute;

  margin-top: 510px;
  margin-left: 180px;
}

.televumobilesession {
  width: 1100px;
  height: auto;

  position: absolute;

  margin-top: 630px;
  margin-left: 50px;
  margin-bottom: 10px;
}

.televuintrospan2 {
  font-size: 35px;
  width: 980px;

  position: absolute;

  margin-top: 1115px;
  margin-left: 145px;
}

/* Brief Discussion on the challenge part of the project */
/* Brief Discussion on the challenge part of the project */
/* Brief Discussion on the challenge part of the project */

.challengeintro {
  font-size: 55px;
  color: red;

  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

  margin-top: 1250px;
  margin-left: 430px;
  margin-bottom: 80px;
}

.challengeintrodescriptionhead {
  font-size: 35px;
  font-weight: 600;
  width: 900px;

  margin-top: 30px;
  margin-left: 170px;
}

.challengeintrodescription {
  font-size: 35px;
  width: 980px;

  margin-left: 170px;
}

/* Brief Discussion on how I perceived the project */
/* Brief Discussion on how I perceived the project */
/* Brief Discussion on how I perceived the project */

.projectperception {
  font-size: 35px;
  font-weight: 600;
  width: 980px;

  margin-top: 50px;
  margin-left: 170px;
}

.projectperceptiondescription {
  font-size: 35px;
  width: 980px;

  margin-left: 170px;
}

.projectquestion {
  font-size: 35px;
  font-weight: 600;
  width: 980px;

  margin-top: 50px;
  margin-left: 170px;
}

.questiondescription {
  font-size: 35px;
  width: 980px;

  margin-left: 170px;
}

.questiondescriptioncategory1 {
  font-size: 35px;
  width: 980px;

  margin-left: 170px;
}

.questiondescriptioncategory2 {
  font-size: 35px;
  width: 980px;

  margin-top: 50px;
  margin-left: 170px;
}

.accomplishment {
  font-size: 35px;
  font-weight: 600;
  width: 980px;

  margin-top: 50px;
  margin-left: 170px;
}

.accomplishmentdescription {
  font-size: 35px;
  width: 980px;

  margin-left: 170px;
}

.questiondelivery {
  font-size: 35px;
  font-weight: 600;
  width: 980px;

  margin-top: 50px;
  margin-left: 170px;
}

.questionanswer {
  font-size: 35px;
  width: 980px;

  margin-left: 170px;
}

/* Above is "ABOUT THE PROJECT" section */
/* Above is "ABOUT THE PROJECT" section */
/* Above is "ABOUT THE PROJECT" section */
/* Above is "ABOUT THE PROJECT" section */
/* Above is "ABOUT THE PROJECT" section */

.project_journey {
  font-size: 90px;
  text-align: center;
  width: 1500px;

  background-color: black;
  background-image: linear-gradient(
    -45deg,
    rgba(0, 133, 255, 1),
    rgba(51, 255, 0, 1)
  );
  background-size: 100%;
  background-repeat: none;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

  margin-top: 80px;
  margin-left: -150px;
}

.journeyimage {
  width: 1100px;
  height: auto;

  position: absolute;

  margin-left: 50px;
}

.projectjourneydescription {
  font-size: 35px;
  width: 980px;

  position: absolute;

  margin-top: 550px;
  margin-left: 350px;
}

/* This is the beginning of the research phase */
/* This is the beginning of the research phase */
/* This is the beginning of the research phase */
/* This is the beginning of the research phase */
/* This is the beginning of the research phase */

.understand {
  font-size: 55px;
  font-weight: 600;
  color: red;

  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

  margin-top: 650px;
  margin-left: 430px;
  margin-bottom: 80px;
}

.understandintroduction {
  font-size: 35px;
  width: 980px;

  margin-left: 170px;
}

/* ASSUMPTIONS SECTION - INTRO */
/* ASSUMPTIONS SECTION - INTRO */
/* ASSUMPTIONS SECTION - INTRO */
/* ASSUMPTIONS SECTION - INTRO */
/* ASSUMPTIONS SECTION - INTRO */

.assumptions {
  font-size: 35px;
  font-weight: 600;
  color: #65a765;

  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

  margin-left: 170px;
  margin-bottom: 30px;
}

.assumption {
  font-size: 30px;
  font-weight: 600;
  color: black;

  width: 900px;

  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

  margin-left: 170px;
  margin-bottom: 30px;
}

.assumption_exp {
  font-size: 30px;
  width: 980px;

  margin-left: 170px;
}

.assumptions_team {
  font-size: 30px;
  font-weight: 600;
  color: black;

  width: 900px;

  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

  margin-top: 30px;
  margin-left: 170px;
  margin-bottom: 30px;
}

.assumptions_team_description {
  font-size: 30px;
  width: 980px;

  margin-left: 170px;
}

/* TALKING ABOUT ASSUMPTIONS - TEAM */
/* TALKING ABOUT ASSUMPTIONS - TEAM */
/* TALKING ABOUT ASSUMPTIONS - TEAM */
/* TALKING ABOUT ASSUMPTIONS - TEAM */
/* TALKING ABOUT ASSUMPTIONS - TEAM */

/* Video-Conference Session - Navigation */
/* Video-Conference Session - Navigation */
/* Video-Conference Session - Navigation */

.vid_nav_session {
  font-size: 35px;
  font-weight: 600;
  color: #65a765;

  width: 900px;

  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

  margin-left: 160px;
  margin-bottom: 30px;
}

.nav1 {
  font-size: 30px;
  font-weight: 600;
  width: 980px;

  position: absolute;

  margin-top: 0px;
  margin-left: 160px;
}

.navigationimg {
  width: 1100px;
  height: auto;

  position: absolute;

  margin-top: 60px;
  margin-left: 150px;
}

.pad1 {
  font-size: 30px;
  width: 980px;

  margin-top: 610px;
  margin-left: 170px;
}

.explained {
  visibility: hidden;
  font-size: 25px;

  margin-left: 130px;
}

/* Video-Conference Session - Icons & Layouts*/
/* Video-Conference Session - Icons & Layouts*/
/* Video-Conference Session - Icons & Layouts*/

.nav2 {
  font-size: 30px;
  font-weight: 600;
  width: 980px;

  position: absolute;

  margin-top: 0px;
  margin-left: 170px;
}

.iconsandlayouts {
  width: 1100px;
  height: auto;

  position: absolute;

  margin-top: 60px;
  margin-left: 150px;
}

.pad2 {
  font-size: 30px;
  width: 980px;

  margin-top: 610px;
  margin-left: 170px;
}

.explained {
  visibility: hidden;
  font-size: 25px;

  margin-left: 130px;
}

/* Video-Conference Session - Interactivity*/
/* Video-Conference Session - Interactivity*/
/* Video-Conference Session - Interactivity*/

.nav3 {
  font-size: 30px;
  font-weight: 600;
  width: 980px;

  position: absolute;

  margin-top: 0px;
  margin-left: 170px;
}

.interactivity {
  width: 1100px;
  height: auto;

  position: absolute;

  margin-top: 60px;
  margin-left: 150px;
}

.pad3 {
  font-size: 30px;
  width: 980px;

  margin-top: 610px;
  margin-left: 170px;
}

.explained {
  visibility: hidden;
  font-size: 25px;

  margin-left: 130px;
}

/* Login Process - Two-Step Login Process */
/* Login Process - Two-Step Login Process */
/* Login Process - Two-Step Login Process */

.loginprocess {
  font-size: 35px;
  font-weight: 600;
  color: #65a765;

  width: 900px;

  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

  margin-top: 50px;
  margin-left: 170px;
  margin-bottom: 30px;
}

.nav4 {
  font-size: 30px;
  font-weight: 600;
  width: 980px;

  position: absolute;

  margin-top: 0px;
  margin-left: 170px;
}

.twosteplogin {
  width: 1100px;
  height: auto;

  position: absolute;

  margin-top: 60px;
  margin-left: 150px;
}

.pad4 {
  font-size: 30px;
  width: 980px;

  margin-top: 610px;
  margin-left: 170px;
}

.explained {
  visibility: hidden;
  font-size: 25px;

  margin-left: 130px;
}

/* Login Process - Registration Page */
/* Login Process - Registration Page */
/* Login Process - Registration Page */

.nav5 {
  font-size: 30px;
  font-weight: 600;
  width: 980px;

  position: absolute;

  margin-top: 0px;
  margin-left: 170px;
}

.registrationpage {
  width: 1100px;
  height: auto;

  position: absolute;

  margin-top: 60px;
  margin-left: 150px;
}

.pad5 {
  font-size: 30px;
  width: 980px;

  margin-top: 610px;
  margin-left: 170px;
}

.explained {
  visibility: hidden;
  font-size: 25px;

  margin-left: 130px;
}

/* Main Navigation - Menu names */
/* Main Navigation - Menu names */
/* Main Navigation - Menu names */

.main_nav {
  font-size: 35px;
  font-weight: 600;
  color: #65a765;

  width: 900px;

  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

  margin-top: 50px;
  margin-left: 185px;
  margin-bottom: 30px;
}

.nav6 {
  font-size: 30px;
  font-weight: 600;
  width: 980px;

  position: absolute;

  margin-top: 0px;
  margin-left: 170px;
}

.mainnavimage {
  width: 1100px;
  height: auto;

  position: absolute;

  margin-top: 60px;
  margin-left: 150px;
}

.pad6 {
  font-size: 30px;
  width: 980px;

  margin-top: 610px;
  margin-left: 170px;
}

.explained {
  visibility: hidden;
  font-size: 25px;

  margin-left: 130px;
}

/* Main Navigation - Page Description */
/* Main Navigation - Page Description */
/* Main Navigation - Page Description */

.nav7 {
  font-size: 30px;
  font-weight: 600;
  width: 980px;

  position: absolute;

  margin-top: 0px;
  margin-left: 170px;
}

.descriptionimage {
  width: 1100px;
  height: auto;

  position: absolute;

  margin-top: 60px;
  margin-left: 150px;
}

.pad7 {
  font-size: 30px;
  width: 980px;

  margin-top: 610px;
  margin-left: 170px;
}

.explained {
  visibility: hidden;
  font-size: 25px;

  margin-left: 130px;
}

/* Devices - Information on Registered Device */
/* Devices - Information on Registered Device */
/* Devices - Information on Registered Device */

.devices {
  font-size: 35px;
  font-weight: 600;
  color: #65a765;

  width: 900px;

  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

  margin-top: 50px;
  margin-left: 185px;
  margin-bottom: 30px;
}

.nav8 {
  font-size: 30px;
  font-weight: 600;
  width: 980px;

  position: absolute;

  margin-top: 0px;
  margin-left: 170px;
}

.registereddevice {
  width: 1100px;
  height: auto;

  position: absolute;

  margin-top: 60px;
  margin-left: 150px;
}

.pad8 {
  font-size: 30px;
  width: 980px;

  margin-top: 610px;
  margin-left: 170px;
}

.explained {
  visibility: hidden;
  font-size: 25px;

  margin-left: 130px;
}

/* Devices - Connection Status */
/* Devices - Connection Status */
/* Devices - Connection Status */

.nav9 {
  font-size: 30px;
  font-weight: 600;
  width: 980px;

  position: absolute;

  margin-top: 0px;
  margin-left: 170px;
}

.connectionstatus {
  width: 1100px;
  height: auto;

  position: absolute;

  margin-top: 60px;
  margin-left: 150px;
}

.pad9 {
  font-size: 30px;
  width: 980px;

  margin-top: 610px;
  margin-left: 170px;
}

.explained {
  visibility: hidden;
  font-size: 25px;

  margin-left: 130px;
}

/* History - Missing Important Information */
/* History - Missing Important Information */
/* History - Missing Important Information */

.history {
  font-size: 35px;
  font-weight: 600;
  color: #65a765;

  width: 900px;

  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

  margin-top: 50px;
  margin-left: 185px;
  margin-bottom: 30px;
}

.nav10 {
  font-size: 30px;
  font-weight: 600;
  width: 980px;

  position: absolute;

  margin-top: 0px;
  margin-left: 170px;
}

.historyimage {
  width: 1100px;
  height: auto;

  position: absolute;

  margin-top: 60px;
  margin-left: 150px;
}

.pad10 {
  font-size: 30px;
  width: 980px;

  margin-top: 610px;
  margin-left: 170px;
}

.explained {
  visibility: hidden;
  font-size: 25px;

  margin-left: 130px;
}

/* "DESIGN PROCESS" section begins here" */
/* "DESIGN PROCESS" section begins here" */
/* "DESIGN PROCESS" section begins here" */
/* "DESIGN PROCESS" section begins here" */
/* "DESIGN PROCESS" section begins here" */

.understand-desc {
  font-size: 30px;
  width: 980px;

  margin-top: 70px;
  margin-left: 170px;
}

/* The Design Process >> Understand phase */
/* The Design Process >> Understand phase */
/* The Design Process >> Understand phase */

/* The Design Process >> Understand phase (Zoom) */

/* Add some padding inside the card container */
.zoom1 {
  font-size: 35px;
  width: 900px;

  margin-top: 10px;
  margin-left: 135px;
}

.zoom {
  width: 1100px;
  height: auto;
  border-radius: 30px;

  position: absolute;

  margin-top: -10px;
  margin-left: 120px;
  margin-bottom: 10px;
}

/* The Design Process >> Understand phase (Miro) */
/* The Design Process >> Understand phase (Miro) */
/* The Design Process >> Understand phase (Miro) */
/* The Design Process >> Understand phase (Miro) */

/* Add some padding inside the card container */
.miro1 {
  font-size: 35px;
  width: 900px;

  position: absolute;

  margin-top: 690px;
  margin-left: -930px;
}

.miro {
  width: 1100px;
  height: auto;
  border-radius: 30px;

  position: absolute;

  margin-top: 750px;
  margin-left: -930px;
  margin-bottom: 10px;
}

/* Affinity Map */
/* Affinity Map */
/* Affinity Map */

.affinitydescription {
  font-size: 35px;
  font-weight: 600;
  width: 900px;

  margin-top: 1990px;
  margin-left: 130px;
}

.affinitymap {
  width: 1095px;
  height: auto;
  border-radius: 30px;

  margin-top: -10px;
  margin-left: 110px;
  margin-bottom: 10px;
}

/* RESEARCH ANALYSIS AND INSIGHTS GATHERED */
/* RESEARCH ANALYSIS AND INSIGHTS GATHERED */
/* RESEARCH ANALYSIS AND INSIGHTS GATHERED */
/* RESEARCH ANALYSIS AND INSIGHTS GATHERED */
/* RESEARCH ANALYSIS AND INSIGHTS GATHERED */

.userchallenges {
  font-size: 55px;
  color: red;
  width: 900px;

  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

  margin-top: 50px;
  margin-left: 330px;
}

.userchallenges-description {
  font-size: 35px;
  width: 980px;

  margin-top: 30px;
  margin-left: 170px;
}

.lessons {
  font-size: 55px;
  color: #65a765;
  width: 900px;

  margin-top: 20px;
  margin-left: 380px;
  margin-bottom: 180px;
}

/* INSIGHT PART GOES HERE */
/* INSIGHT PART GOES HERE */
/* INSIGHT PART GOES HERE */
/* INSIGHT PART GOES HERE */
/* INSIGHT PART GOES HERE */

.previous-btn {
  background-color: transparent;

  float: left;
  position: relative;

  margin-top: -500px;
}

#booksetting {
  box-sizing: border-box;

  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: sans-serif;

  margin-top: 20px;
  margin-right: -750px;
}

/* Book */
.book {
  position: relative;
  width: 1050px;
  height: 600px;
  transition: transform 0.5s;

  margin-top: -700px;
}

.paper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  perspective: 1500px;

  margin-left: -60px;
}

.front,
.back {
  background-color: #fafafa;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform-origin: left;
  transition: transform 0.5s;
}

.front {
  z-index: 1;
  backface-visibility: hidden;
  border-left: 3px solid lightgray;
}

.back {
  z-index: 0;
}

.front-content,
.back-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-content {
  transform: rotateY(180deg);
}

/* Paper flip effect */
.flipped .front,
.flipped .back {
  transform: rotateY(-180deg);
}

/* Controller Buttons */
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: transform 0.5s;

  margin-left: 140px;
  margin-right: 140px;
  margin-bottom: 140px;
}

button:focus {
  outline: none;
  background-color: transparent;
}

button:hover i {
  color: #88d1f1;
}

.next-button {
  background-color: transparent;

  margin-top: -500px;
  margin-left: 70px;
  margin-right: -40px;
}

i {
  font-size: 50px;
  color: #c8fbff;
  background-color: transparent;

  margin-top: -500px;
}

/* Paper stack order */
#p1 {
  z-index: 4;
}

#p2 {
  z-index: 3;
}

#p3 {
  z-index: 2;
}

#p4 {
  z-index: 1;
}

/* MODIFIED CONTENT DETAIL BELOW */
/* MODIFIED CONTENT DETAIL BELOW */
/* MODIFIED CONTENT DETAIL BELOW */

.bookanimation {
  font-size: 40px;
  position: absolute;

  margin-top: -480px;
  margin-left: -20px;
}

.probrief1 {
  font-size: 20px;
  font-weight: 300;
  position: absolute;

  width: 900px;

  margin-top: -200px;
  margin-left: 450px;
}

.loginpageimg {
  width: 500px;
  height: 250px;

  margin-top: 90px;
  margin-left: 40px;
}

.probrief2 {
  font-size: 20px;
  font-weight: 300;
  position: absolute;

  width: 500px;

  margin-top: 480px;
  margin-left: 50px;
}

/* PAGE 1 & 2 */
.insights {
  margin-top: -70px;
}

.lesson1 {
  position: absolute;

  margin-left: -20px;
}

.lesson1_1 {
  font-size: 20px;
  font-weight: 300;
  position: absolute;

  width: 490px;

  margin-top: 100px;
  margin-left: -10px;
}

/* PAGE 3 & 4 */
.navmenudescription {
  font-size: 20px;
  font-weight: 300;
  position: absolute;

  width: 500px;

  margin-top: -120px;
  margin-left: 50px;
}

.navigationimage {
  width: 500px;
  height: 250px;

  margin-top: 250px;
  margin-left: 30px;
}

.lesson1_2 {
  font-size: 20px;
  font-weight: 300;
  position: absolute;

  width: 500px;

  margin-top: -50px;
  margin-left: -10px;
}

.vidconsession {
  font-size: 38px;
  position: absolute;

  margin-top: -480px;
  margin-left: 40px;
}

.lesson1_3 {
  font-size: 20px;
  font-weight: 300;
  position: absolute;

  width: 500px;

  margin-top: -100px;
  margin-left: 50px;
}

.videoconsession {
  width: 500px;
  height: 250px;

  margin-top: 230px;
  margin-left: 30px;
}

.lesson1_4 {
  font-size: 20px;
  font-weight: 300;
  position: absolute;

  width: 500px;

  margin-top: 10px;
  margin-left: -10px;
}

.lesson1_5 {
  font-size: 20px;
  font-weight: 300;
  position: absolute;

  width: 500px;

  margin-top: -360px;
  margin-left: 50px;
}

.historyimg {
  width: 500px;
  height: 250px;

  margin-top: -20px;
  margin-left: 30px;
}

.historylesson {
  font-size: 20px;
  font-weight: 300;
  position: absolute;

  width: 500px;

  margin-top: 450px;
  margin-left: 50px;
}

/* INSIGHT PART ENDS HERE */
/* INSIGHT PART ENDS HERE */
/* INSIGHT PART ENDS HERE */
/* INSIGHT PART ENDS HERE */
/* INSIGHT PART ENDS HERE */

/* TALKING ABOUT THE NEXT STEP STARTS HERE */
/* TALKING ABOUT THE NEXT STEP STARTS HERE */
/* TALKING ABOUT THE NEXT STEP STARTS HERE */
/* TALKING ABOUT THE NEXT STEP STARTS HERE */
/* TALKING ABOUT THE NEXT STEP STARTS HERE */

.nextstep {
  font-size: 55px;
  color: #65a765;
  width: 900px;

  margin-top: -400px;
  margin-left: 450px;
}

.nextstepexplained {
  font-size: 35px;
  width: 980px;

  margin-left: 170px;
}

/* User Persona + Journey Map */
/* User Persona + Journey Map */
/* User Persona + Journey Map */
/* User Persona + Journey Map */
/* User Persona + Journey Map */

.userpersona {
  width: 1100px;
  height: auto;

  margin-top: 30px;
  margin-left: 150px;
}

.journeymap {
  width: 1100px;
  height: auto;

  margin-top: 60px;
  margin-left: 150px;
}

.nextstep_reflections {
  font-size: 35px;
  width: 980px;

  margin-left: 170px;
}

.consideration {
  font-size: 35px;
  width: 980px;

  margin-left: 170px;
}

/* DESGIN SECTION BEGINS HERE */
/* DESGIN SECTION BEGINS HERE */
/* DESGIN SECTION BEGINS HERE */
/* DESGIN SECTION BEGINS HERE */
/* DESGIN SECTION BEGINS HERE */

.designsection {
  font-size: 55px;
  font-weight: 600;
  color: #65a765;

  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

  margin-top: 80px;
  margin-left: 520px;
  margin-bottom: 80px;
}

.designsubtitle {
  font-size: 35px;
  font-weight: 600;
  width: 980px;

  margin-top: 50px;
  margin-left: 170px;
}

.designdescription {
  font-size: 35px;
  width: 980px;

  margin-left: 170px;
}

.roughdraftsketches {
  font-size: 35px;
  width: 980px;

  margin-left: 170px;
}

/* Rough History Page */
/* Rough History Page */
/* Rough History Page */

/* Add some padding inside the card container */
.rough-history1 {
  font-size: 30px;
  font-weight: 300;

  position: absolute;
  width: 900px;

  margin-top: -30px;
  margin-left: 170px;
  margin-bottom: 80px;
}

.rough-history {
  width: 1100px;
  height: auto;

  position: absolute;

  margin-left: 160px;
}

/* Rough Video-Conf Page */
/* Rough Video-Conf Page */
/* Rough Video-Conf Page */

/* Add some padding inside the card container */
.rough-vid-con1 {
  font-size: 30px;
  font-weight: 300;

  position: absolute;
  width: 900px;

  margin-top: 880px;
  margin-left: 130px;
  margin-bottom: 30px;
}

.rough-vid-con {
  width: 1100px;
  height: auto;

  position: absolute;

  margin-top: 920px;
  margin-left: 130px;
}

/* Rough GlassVU Page */
/* Rough GlassVU Page */
/* Rough GlassVU Page */

/* Add some padding inside the card container */
.rough-glassvu1 {
  font-size: 30px;
  font-weight: 300;

  position: absolute;
  width: 900px;

  margin-top: 1750px;
  margin-left: 100px;
  margin-bottom: 30px;
}

.rough-glassvu {
  width: 1120px;
  height: auto;

  position: absolute;

  margin-top: 1800px;
  margin-left: 100px;
}

/* Keep the track of styles */
/* Keep the track of styles */
/* Keep the track of styles */
/* Keep the track of styles */
/* Keep the track of styles */

.styletrack {
  font-size: 35px;
  font-weight: 600;
  width: 980px;

  margin-top: 2500px;
  margin-left: 170px;
}

.styletrackdescription {
  font-size: 30px;
  width: 1150px;

  margin-left: 170px;
}

/* Design Guide for Logos */
/* Design Guide for Logos */
/* Design Guide for Logos */

/* Add some padding inside the card container */
.design-guide1 {
  font-size: 30px;
  font-weight: 300;

  position: absolute;
  width: 900px;

  margin-top: -30px;
  margin-left: 170px;
  margin-bottom: 80px;
}

.design-guide {
  width: 1100px;
  height: auto;

  position: absolute;

  margin-left: 160px;
}

/* Design Guide for Buttons */
/* Design Guide for Buttons */
/* Design Guide for Buttons */

/* Add some padding inside the card container */
.design-buttons1 {
  font-size: 30px;
  font-weight: 300;

  position: absolute;
  width: 900px;

  margin-top: 880px;
  margin-left: 130px;
  margin-bottom: 30px;
}

.design-buttons {
  width: 1100px;
  height: auto;

  position: absolute;

  margin-top: 920px;
  margin-left: 130px;
}

/* Design Guide for Colours */
/* Design Guide for Colours */
/* Design Guide for Colours */

/* Add some padding inside the card container */
.colour1 {
  font-size: 30px;
  font-weight: 300;

  position: absolute;
  width: 900px;

  margin-top: 1950px;
  margin-left: 100px;
  margin-bottom: 30px;
}

.colour {
  width: 1120px;
  height: auto;

  position: absolute;

  margin-top: 2000px;
  margin-left: 100px;
}

/* High-Fidelity Outcome */
/* High-Fidelity Outcome */
/* High-Fidelity Outcome */

.highfidelity {
  font-weight: 600;
  font-size: 30px;
  width: 900px;

  margin-top: 2800px;
  margin-left: 250px;
}

/* Add some padding inside the card container */
.remotevu1 {
  font-weight: 300;
  width: 900px;

  position: absolute;

  margin-left: 90px;
}

.high-fi-remotevu {
  width: 1270px;
  height: auto;

  position: absolute;

  margin-top: 50px;
  margin-left: 0px;
}

/* High-Fi Video-Conference */
/* High-Fi Video-Conference */
/* High-Fi Video-Conference */

/* Add some padding inside the card container */
.high-vid-con1 {
  font-weight: 300;
  width: 900px;

  position: absolute;

  margin-top: 920px;
  margin-left: 40px;
}

.high-fi-vid-con {
  width: 1270px;
  height: auto;

  position: absolute;

  margin-top: 950px;
  margin-left: -30px;
}

/* REDESIGNED High-Fi Login */
/* REDESIGNED High-Fi Login */
/* REDESIGNED High-Fi Login */

/* Add some padding inside the card container */
.high-fi-login1 {
  font-weight: 300;
  width: 900px;

  position: absolute;

  margin-top: 1870px;
  margin-left: 5px;
}

.high-fi-login {
  width: 1270px;
  height: auto;

  position: absolute;

  margin-top: 1930px;
  margin-left: -90px;
}

/* FINAL */
/* FINAL */

.final {
  font-size: 90px;
  width: 1000px;

  background-color: black;
  background-image: linear-gradient(
    -45deg,
    rgba(0, 133, 255, 1),
    rgba(51, 255, 0, 1)
  );
  background-size: 100%;
  background-repeat: none;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

  margin-top: 2750px;
  margin-left: 480px;
}

.finalpartdescription {
  font-weight: 600;
  font-size: 30px;
  width: 900px;

  margin-top: 50px;
  margin-left: 680px;
}

.prototype {
  font-size: 30px;
  color: #65a765;
  width: 900px;

  margin-top: 50px;
  margin-left: 540px;
  margin-bottom: 30px;
}

.imgsize {
  width: 600px;
  height: auto;

  margin-top: 20px;
  margin-left: 310px;
}

/* FINAL PRODUCT VIDEO TEASER */
/* FINAL PRODUCT VIDEO TEASER */
/* FINAL PRODUCT VIDEO TEASER */

.finalproductteaser {
  font-size: 30px;
  color: #65a765;
  width: 900px;

  margin-top: 50px;
  margin-left: 460px;
  margin-bottom: 30px;
}

.video {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.container {
  position: relative;
  display: inline-block;
  font-size: 0;
}
.container > .controls {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
  padding: 7px;
  box-sizing: content-box;
  z-index: 10000;
}

.teaservid {
  width: 1200px;
  height: 750px;

  margin-top: -20px;
  margin-left: 30px;
}

/* Talking about the smartphone version in the section */
/* Talking about the smartphone version in the section */
/* Talking about the smartphone version in the section */
/* Talking about the smartphone version in the section */
/* Talking about the smartphone version in the section */

.smartphonefinalproduct {
  font-weight: 600;
  font-size: 30px;
  width: 900px;

  margin-top: 70px;
  margin-left: 680px;
}

/* High-Fidelity Mobile Version (Landscape) */
/* High-Fidelity Mobile Version (Landscape) */
/* High-Fidelity Mobile Version (Landscape) */

/* Add some padding inside the card container */
.mobile1 {
  font-weight: 300;
  width: 900px;

  margin-top: -30px;
  margin-left: -60px;
}

.mobilefidelity {
  width: 1200px;
  height: auto;

  margin-top: 80px;
  margin-left: 90px;
}

.mobile {
  width: 300px;
  height: 600px;

  margin-left: 10px;
}

/* High-Fidelity Mobile Version (Portrait) */
/* High-Fidelity Mobile Version (Portrait) */
/* High-Fidelity Mobile Version (Portrait) */

/* Add some padding inside the card container */
.mobileland1 {
  font-weight: 300;
  width: 900px;

  margin-top: -30px;
  margin-left: -300px;
}

.mobileland {
  width: 500px;
  height: 250px;

  margin-left: -300px;
}

.conClusion {
  font-size: 55px;
  font-weight: 600;
  color: #65a765;

  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

  margin-top: 80px;
  margin-left: 490px;
  margin-bottom: 30px;
}

.conClusion_description {
  font-size: 35px;
  width: 980px;

  margin-left: 170px;
}

/* OUTCOME: User Testing Feedback */
/* OUTCOME: User Testing Feedback */
/* OUTCOME: User Testing Feedback */
/* OUTCOME: User Testing Feedback */
/* OUTCOME: User Testing Feedback */

.usertesting {
  font-size: 55px;
  font-weight: 600;
  color: #65a765;

  width: 1000px;

  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

  margin-top: -50px;
  margin-left: 330px;
  margin-bottom: 30px;
}

.usertestingdesc {
  font-size: 35px;
  width: 980px;

  margin-left: 170px;
}

/* FEEDBACK: USER TESTING FOR SETTING */
/* FEEDBACK: USER TESTING FOR SETTING */
/* FEEDBACK: USER TESTING FOR SETTING */

/* Add some padding inside the card container */
.settingnav1 {
  font-weight: 300;
  width: 1000px;

  position: absolute;

  margin-left: 130px;
}

.setting-nav {
  width: 1270px;
  height: auto;

  position: absolute;

  margin-top: 90px;
  margin-left: 0px;
}

/* USERTESTING COMMENT FROM THE PARTICIPANTS */
/* USERTESTING COMMENT FROM THE PARTICIPANTS */
/* USERTESTING COMMENT FROM THE PARTICIPANTS */

.successratio {
  font-size: 35px;
  font-weight: 300;
  width: 980px;

  margin-top: -680px;
  margin-left: 170px;
}

/* FEEDBACK: USER TESTING FOR HISTORY */
/* FEEDBACK: USER TESTING FOR HISTORY */
/* FEEDBACK: USER TESTING FOR HISTORY */

/* Add some padding inside the card container */
.historypage1 {
  font-weight: 300;
  width: 900px;

  position: absolute;

  margin-top: 1260px;
  margin-left: -1040px;
}

.historypage {
  width: 1030px;
  height: auto;

  position: absolute;

  border-radius: 30px;

  margin-top: 1320px;
  margin-left: -1040px;
}

.successratio1 {
  font-size: 35px;
  font-weight: 300;
  width: 980px;

  margin-top: 800px;
  margin-left: -1000px;
}

/* FEEDBACK: USER TESTING FOR REMOTEVU */
/* FEEDBACK: USER TESTING FOR REMOTEVU */
/* FEEDBACK: USER TESTING FOR REMOTEVU */

/* Add some padding inside the card container */
.remotevupage1 {
  font-weight: 300;
  width: 900px;

  position: absolute;

  margin-top: 2220px;
  margin-left: -1080px;
}

.remotevupage {
  width: 1270px;
  height: auto;

  position: absolute;

  margin-top: 2250px;
  margin-left: -1200px;
}

/* FEEDBACK: USER TESTING FOR REMOTEVU */
/* FEEDBACK: USER TESTING FOR REMOTEVU */
/* FEEDBACK: USER TESTING FOR REMOTEVU */

.successratio2 {
  font-size: 35px;
  font-weight: 300;
  width: 980px;

  margin-top: 3100px;
  margin-left: -1040px;
}

/* THE REFLECTION SECTION */
/* THE REFLECTION SECTION */
/* THE REFLECTION SECTION */
/* THE REFLECTION SECTION */
/* THE REFLECTION SECTION */

.reflection {
  font-size: 90px;
  text-align: center;
  width: 1000px;

  background-color: black;
  background-image: linear-gradient(
    -45deg,
    rgba(0, 133, 255, 1),
    rgba(51, 255, 0, 1)
  );
  background-size: 100%;
  background-repeat: none;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

  margin-top: 70px;
  margin-left: 100px;
}

.reflect {
  font-size: 35px;
  width: 980px;

  margin-left: 170px;
}

/* THIS IS WHERE THE FINAL NOTE COMES */
/* THIS IS WHERE THE FINAL NOTE COMES */
/* THIS IS WHERE THE FINAL NOTE COMES */
/* THIS IS WHERE THE FINAL NOTE COMES */
/* THIS IS WHERE THE FINAL NOTE COMES */

.finalnote {
  font-size: 90px;
  text-align: center;
  width: 1000px;

  background-color: black;
  background-image: linear-gradient(
    -45deg,
    rgba(0, 133, 255, 1),
    rgba(51, 255, 0, 1)
  );
  background-size: 100%;
  background-repeat: none;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

  margin-top: 70px;
  margin-left: 100px;
}

.finalnote_points {
  font-size: 35px;
  width: 980px;

  margin-left: 170px;
}

.finalnote_point_detail {
  font-size: 30px;
  font-weight: 300;
  width: 980px;

  margin-left: 170px;
}

.finalnote_point_detail1 {
  font-size: 30px;
  font-weight: 300;
  width: 980px;

  margin-left: 170px;
}

/* LAST BUTTON OF THE PAGE */
/* LAST BUTTON OF THE PAGE */
/* LAST BUTTON OF THE PAGE */
/* LAST BUTTON OF THE PAGE */
/* LAST BUTTON OF THE PAGE */

.home {
  box-sizing: border-box;
  border-radius: 15px;

  font-size: 30px;
  background-color: #feca6e;

  width: 150px;

  padding: 5px;

  margin-top: 330px;
  margin-left: 170px;
}

.centerbtn {
  box-sizing: border-box;
  border-radius: 15px;

  font-size: 30px;
  background-color: #feca6e;
  position: absolute;

  width: 250px;

  padding: 5px;

  margin-top: -185px;
  margin-left: 500px;
}

.contacts {
  box-sizing: border-box;
  border-radius: 15px;

  font-size: 30px;
  background-color: #feca6e;
  position: absolute;

  width: 180px;

  padding: 5px;

  margin-top: -185px;
  margin-left: 920px;
}

button:hover {
  background-color: #f88379;
}

button:click::after {
  background-color: #ff4040;
}

.link {
  text-decoration: none;
  color: black;
}

/* THE CONCLUSION SECTION */
/* THE CONCLUSION SECTION */
/* THE CONCLUSION SECTION */
/* THE CONCLUSION SECTION */
/* THE CONCLUSION SECTION */

.ending {
  width: 1500px;
  height: 220px;

  position: absolute;

  margin-left: -100px;
  margin-top: -50px;
  opacity: 0.8;
  z-index: 1000px;
}

.name {
  font-weight: 700;
  position: relative;
  width: 900px;

  margin-top: 100px;
  margin-left: 550px;
}

.names {
  font-weight: 700;
  position: relative;
  width: 900px;

  margin-left: 545px;
}

.name_s {
  font-weight: 700;
  position: relative;
  width: 900px;

  margin-left: 500px;
}

.name-s {
  color: blue;
  font-weight: 700;
  width: 900px;

  position: relative;

  margin-left: 390px;
}
